td img {
  max-width: 200px;
  max-height: 80px; }

.table td i {
  color: #aaa;
  margin-left: 5px; }

.table td i:hover {
  color: #888; }

.table td {
  vertical-align: middle; }

.ui-tooltip, .arrow:after {
  position: absolute;
  background: #fffdc2;
  border: 1px solid #e1e0aa; }

.template {
  display: none !important; }

@media (min-width: 768px) {
  padding: 0;
  max-height: none; }
.sidebar-nav .navbar ul {
  float: none;
  _display: block; }
.sidebar-nav .navbar li {
  float: none;
  display: block; }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px; }
.sidebar-nav .navbar-collaps {
  max-height: auto; }

.navbar-fixed-top .navbar-brand {
  background-image: url("/images/g0v-cf.png");
  background-position: left;
  background-repeat: no-repeat;
  width: 300px; }

.panel-title {
  position: relative;
  padding: 5px 0px; }
  .panel-title select {
    position: absolute;
    right: 0px;
    top: -3px;
    width: 20%; }

.table * {
  font-size: 12px;
  color: #555; }

body {
  background-image: url("/images/geometry.png"); }

.nav a {
  font-size: 15px;
  color: #222; }

.sidebar-nav .navbar {
  padding: 10px 0px; }

.navbar-collapse {
  max-height: none; }

#politician li a {
  color: #333; }
#politician .political-title {
  font-size: 12px;
  color: #AAA; }
